@model DIPLOMA.Models.UserProfile

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body >
    <div style="background-image:@Model.BackgroundImgSrc">

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Instagram)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Instagram)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Discord)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Discord)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Twitter)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Twitter)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Facebook)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Facebook)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Youtube)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Youtube)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Twitch)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Twitch)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telegram)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telegram)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Bio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Bio)
            </dd>
          
       
        </dl>
    </div>

</body>
</html>

