@model IEnumerable<DIPLOMA.Models.DonateMsg>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    ViewData["ActivePage"] = DIPLOMA.Views.Panel.PanelNavPages.Messages;
}

<form asp-action="Index" method="get" class="btn-group mr-2">

    <div class="input-group m-1">
        <label for="StartDate" class="col-form-label p-1">Satart time</label>
        <input type="date" class="form-control" placeholder="Start date"
               aria-describedby="btnGroupAddon" name="StartDate" value="@ViewBag.StartDate?.ToString("yyyy-MM-dd")">
    </div>
    <div class="input-group m-1">
        <label for="EndDate" class="col-form-label p-1">End time</label>
        <input type="date" class="form-control" placeholder="End date" name="EndDate" value="@ViewBag.EndDate?.ToString("yyyy-MM-dd")">
    </div>

    <input type="submit" value="Apply" class="btn btn-outline-primary" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonatorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonatorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
 
        </tr>
}
    </tbody>
</table>
