@model DIPLOMA.Models.MsgWidget

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MsgWidget</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeaderText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeaderText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSymbols)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSymbols)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayTimeSec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayTimeSec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandomContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandomContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
