@model IEnumerable<DIPLOMA.Models.FundraisingWidget>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    ViewData["ActivePage"] = DIPLOMA.Views.Panel.PanelNavPages.Fundraising;

}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectedAmt)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CollectedAmt)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.Raw($"{new string(item.ID.ToString().Take(4).ToArray())}...")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>   |
                <a asp-action="Display" asp-route-id="@item.ID">Display</a>
            </td>
        </tr>
}
    </tbody>
</table>
