@model DIPLOMA.Models.StatisticWidget

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    ViewData["ActivePage"] = DIPLOMA.Views.Panel.PanelNavPages.Statistic;

}


<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeaderText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeaderText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ElementsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ElementsCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScrollingSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScrollingSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayMode.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WidgetType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WidgetType.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direction.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeInterval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeInterval.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayUrl)
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Display" asp-route-id="@Model.ID">@Html.DisplayFor(model => model.DisplayUrl)</a>

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
